/*COLORS
	main font: #373a3b
	another font:#999999
	menu backround: #373a3b
	page background: #f5f5f5 
	buttons login, buy-now: #1d8995
	buttons login, buy-now HOVER: #197575
	buttons read-more: #424242
	buttons read-more HOVER: #1d8995
	
*/






/* GENERAL STYLES */
*												{font-family: 'Lato', sans-serif; color:#373a3b; text-align:left; font-weight:300; line-height:160%;; font-size:14px;}

h1 											{font-size:2.2em; font-weight:600;}
h2 											{font-size:1.3em;}
h3 											{font-size:1.2em;}
h4 											{font-size:1.1em;}


h2, h3, h4									{margin:10px 0; color:#444444; font-weight:400;}

strong										{font-weight:400;}

a 												{text-decoration:none; color: #1d8995; cursor:pointer}
a:hover 										{text-decoration:none; color: #333333;}

p												{margin-bottom:15px;}

.clear										{clear:both;}
.fright										{float:right;}
.fleft											{float:left;}

.title											{margin:30px 0 0 10px;}
.subtitle										{margin:0 0 25px 0; font-size:1.3em;}


.desktop									{display:inline;}
.mobile										{display:none;}



/* BUTTONS */
.button										{display:inline-block; text-align:center; color:white; padding: 15px 20px;}
.button-grey								{background:#424242;}
.button-grey:hover						{background:#1d8995; transition:0.3s; text-decoration:none; color:white;}
.button-teal								{background:#1d8995;}
.button-teal:hover						{background:#424242; transition:0.3s; text-decoration:none; color:white;}
.button-white								{background:white !important; padding:8px 12px !important; color:#1d8995 !important; font-weight:700; font-size:0.85em; cursor:pointer; border:none;}
.button-white:hover					{background:#424242 !important; transition:0.3s; text-decoration:none; color:white !important;}

.button-facebook 						{background:#3b5998 !important; color:white; border:none;cursor:pointer;padding:8px 12px !important; font-weight:700; vertical-align:middle; width:100%; font-size:0.85em; }
.button-facebook:hover				{background:#424242 !important; transition:0.3s; text-decoration:none; }

.button-white-register				{background:white !important; padding:8px 12px !important; color:#1d8995 !important; font-weight:700; font-size:0.85em; cursor:pointer; border:none; width:100%;}
.button-white-register:hover		{background:#424242 !important; transition:0.3s; text-decoration:none; color:white !important;}















/* BUY NOW */
.buy-now							{position:fixed; top:300px; right:0%; background-color:#1d8995;padding:10px; z-index:100; transition: 0.3s; text-align:center; font-weight:700; font-size:1em; opacity:0.8;}
.buy-now a						{color:white; font-weight:700;}
.buy-now img					{width:35px;}
.buy-now:hover					{background-color:#197575; transition: 0.3s;}
	
.buy-now-mobile				{position:fixed; bottom:0; background-color:#1d8995;padding:10px 20px; z-index:100; transition: 0.3s; text-align:center; font-weight:700; font-size:0.9em; display:none; vertical-align:middle; opacity:0.8;}
.buy-now-mobile a span	{color:white; vertical-align:middle; font-weight:700;}
.buy-now-mobile img			{width:20px; vertical-align:middle; float:left; margin-right:15px; margin-top:5px;}
.buy-now-mobile span		{float:left; padding-top:3px;}
.buy-now-mobile:hover		{background-color:#197575; transition: 0.3s;}

















/* LOGIN TOP BAR */
#top-bar															{background:white; border-bottom:1px solid #ccc; border-top:1px solid #ccc; font-size:0.75em; padding-top:10px; padding-bottom:10px;height:28px; max-height:28px; min-height:28px;}
#top-bar .top-icons											{vertical-align:middle; text-align:right!important;}
#top-bar .top-icons a,
#top-bar .top-icons img, 
#top-bar .top-icons span									{vertical-align:middle;}
#top-bar .top-icons .count									{position:absolute; background:#1d8995; padding:2px; vertical-align:middle; color:white!important; font-size:0.6em; margin-left:-32px; width:12px; text-align:center !important;-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

#top-bar .top-icons img										{margin-right:25px;}
#top-bar .top-icons .administrator img				{margin-right:10px;}
#top-bar .top-icons .last-icon								{margin-right:0;}
#top-bar .top-icons a span								{font-weight:400; display:inline-block; padding-right:20px; border-right:1px solid #CCC; margin-right:20px; color:#1d8995;}
#top-bar .top-icons a:hover span						{color:#424242;}

.panel-roll															{background-color: white; position:absolute; z-index:9999; width:50%; max-width:480px; border-left:1px solid #ccc; border-right:1px solid #ccc; display:none; top:48px;}
.panel-roll	.panel-options									{padding:8px; border-bottom:solid 1px #ccc; color:#333;}
.panel-roll .panel-options span							{float:right;}
.panel-roll	.panel-options a								{}		
.panel-roll	.panel-message 								{border-bottom:solid 1px #ccc; padding:8px;}
.panel-roll .panel-message:hover 						{background-color:#F5F5F5; transition:0.3s;}
.panel-roll	.panel-message .photo 						{float:left; overflow:hidden; width:15%; }
.panel-roll	.panel-message .content 					{float:left; margin-left:8px; width:80%;}
.panel-roll	.panel-message .content a					{font-weight:400;}		
.panel-roll	.panel-message h4							{margin:0; }
.panel-roll	.panel-message h4 a							{color:#333;font-weight:300!important;}
.panel-roll	.panel-footer										{text-align:center; background:#F5F5F5; padding:15px;border-bottom:1px solid #ccc;}
.panel-roll	.panel-footer	a									{font-weight:600!important; letter-spacing:0.02em;}

.panel-roll  .unread a											{font-weight:bold!important;}








/* LOGO + MENU ICON + SEARCH - MOBILE */
#mobile-menu-bar											{background:#373a3b; border-bottom:1px solid #ccc; font-size:0.75em; height:48px; color:white; display:none;}		
#mobile-menu-bar .content								{text-align:center;}
#mobile-menu-bar .content a img						{height:22px; width:auto; margin-left:32px;}
#mobile-menu-bar .content span img					{height:32px; margin-right:15px; margin-top:8px; cursor:pointer; opacity:1;}
#mobile-menu-bar .content span img:hover		{opacity:0.8;}


#mobile-login-link div										{text-align:center; height:48px;}
#mobile-login-link div a										{color:#1d8995; font-weight:400;}








/* MOBILE MENU */

#mobile-menu													{position:fixed;background:#373a3b; top:0px; width:50%; height:100%; z-index:9999; color:white; display:none; opacity:0.95;}
#mobile-menu div												{padding:15px;}
#mobile-menu h4												{color:white;}
#mobile-menu a												{color:white;}
#mobile-menu a:hover										{color:#1d8995;}

#mobile-menu ul												{list-style:none;}
#mobile-menu ul li												{background-image:url(../img/ikona-lapa-mala.png); background-position: left; background-repeat: no-repeat;  padding-left:35px; margin-bottom:5px; margin-left:15px;}
#mobile-menu ul li	 a											{font-weight:400 !important; font-size:1em;}

#close-mobile-menu  										{float:right;}
#close-mobile-menu a										{font-weight:900; font-size:2em !important;}











/* HEADER */
#top-container											{width:100%; position:absolute;top:50px; z-index:1000;}
#header													{z-index:100!important;}


nav 															{text-align: center; background-color: #373a3b; height:75px; z-index:2;}
nav ul li 													{display:inline; vertical-align:middle;}
nav ul li a 													{display:inline-block; text-decoration: none; color:white !important; font-weight:700; padding:27px 17px 27px 17px;vertical-align:middle;}
nav ul li a:hover  										{color:#1d8995 !important;}
#home														{padding:25px 17px 22px 17px !important;}

#nav-border-top										{position:absolute; background:#1d8995; height:3px; z-index:50 !important; margin-top:-3px; display:none;}
#nav-border-bottom									{position:absolute; background:#1d8995; height:3px; z-index:50 !important; margin-top:75px; display:none;}
		
#menu-spacer											{position: absolute; background-color: #373a3b; height:75px; z-index:1; }

#search														{background-color: #373a3b; height:75px; text-align:center; color:white; }
#search	 input[type=text]							{padding:10px; font-size: 0.75em; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; background-image:url("../img/ikona-lupa.png"); background-size:8%; background-position:95%;background-repeat: no-repeat; vertical-align:middle; border:none; margin-top:20px; width:80%;}
#search-button											{background:transparent; height:33px; width:32px; cursor:pointer; float:right; position:absolute; z-index:999; margin-left:-33px; margin-top:21px;}
#purinaone-logo img									{margin-top:15px;}
#kociarze-logo											{background-color: #373a3b; text-align:center; padding:20px;}
#login-link													{padding:0; height:56px;background-color: #1d8995;}
#login-link .link a										{display:block; color:white!important; font-weight:400; padding:15px;text-align:center; opacity:0.8;}
#login-link .link a:hover								{opacity:1; transition:0.5s;}
#login-link img											{vertical-align:middle; margin-right:15px;}
#login-link .login-box									{padding:10px 20px 20px 20px; text-align:center; margin:0; display:none; color:white !important;}
#login-link .login-box	 input[type=email],
#login-link .login-box	 input[type=password]	{padding:10px; font-size: 0.75em; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; vertical-align:middle; border:none; margin-top:0px; width:93%; margin-bottom:10px;}
#login-link .login-box h4							{color:white; margin-top:0px; font-weight:700;}
#login-link .login-box	 span,
#login-link .login-box	 a,
#login-link .login-box	 strong,
#login-link .login-box	 p 							{color:white; font-size:0.9em; line-height:120%!important;font-size:0.9em; font-weight:400;;}
#login-link .login-box	 a								{text-decoration:underline;}
#login-link .login-box	 a:hover						{color:#333;}
#login-link .login-box hr								{border:none; height:1px; background:white; margin:15px 0px; opacity:0.7;}

#close-login-box  										{float:right;}
#close-login-box a										{font-weight:900; font-size:2em !important; text-decoration:none !important;}

#row-spacer												{position:absolute; left:0px; height:75px; background-color: #373a3b; z-index:0}	



















/* ARTICLE */
article										{background-color:#F5F5F5; padding: 10px!important;}
article .author							{color:#999999; font-size:0.9em; margin-bottom:15px; float:left; font-weight:400;}				
article .date								{color:#999999; font-size:0.9em; margin-bottom:15px; float:left; font-weight:400;}
article .comments						{color:#999999; font-size:0.9em; margin-bottom:15px; float:left; font-weight:400;}
article .replies							{color:#999999; font-size:0.9em; font-weight:400;}
article .button-grey					{float:right;}
article h3 a								{color:#444444 !important;}
article h3 a:hover						{color:#1d8995 !important;}

.news .date								{float:right;}

.single-article .author					{margin-right:25px; margin-bottom:50px;}
.single-article .date					{margin-right:25px; margin-bottom:50px;}
.single-article .comments			{margin-right:0; margin-bottom:50px;}
.single-article .button-grey			{float:right;}
.single-article .button-teal			{float:left;}

.forum										{padding:50px;}
.forum .date								{float:none; margin-bottom:0px;}
.forum h4									{font-weight:400; margin-bottom:5px; margin-top:0;}
.forum h4 a								{color:#444444 !important; font-weight:400;}
.forum h4 a:hover						{color:#1d8995 !important;}
.forum .replies							{margin-bottom:25px;}
.forum .button-teal						{float:right;}
.forum .forum-padding				{padding:50px 0px 0px 25px;}
.forum .right-border					{border-right:solid 1px #ccc; padding-right:25px;}





/* ARTICLE NAVIGATION*/
.next, .prev								{padding:0!important; margin:0!important;}
.arrow-nav								{padding-top:10px;text-align:right; }
#toback										{margin-right:1px; text-align:center; display: inline-block; background-color:#f5f5f5; padding: 0px 12px 0px 12px;}
#toforward								{text-align:center; display: inline-block; background-color:#f5f5f5; padding: 0px 12px 0px 12px;}
.arrow-nav a								{display: inline-block; background-color:#f5f5f5; padding: 10px!important; margin:0; color:#333!important; font-weight:400;}
.arrow-nav .margin					{margin-right:1px;}
.toback										{text-align:center; display: inline-block; background-color:transparent;  color:#333!important; font-weight:400; padding: 6px 12px 6px 12px;}
.toforward									{text-align:center; display: inline-block; background-color:transparent;  color:#333!important; font-weight:400;padding: 6px 12px 6px 12px;}
.arrow-nav a .number				{text-align:center; display: inline-block; background-color:#f5f5f5;  color:#333!important; font-weight:400; padding: 6px 12px 6px 12px;}
.arrow-nav a:hover	,
.arrow-nav a:hover	 span,
.arrow-nav a:hover	 .next,
.arrow-nav a:hover	 .prev,
.arrow-nav .active ,
.arrow-nav .active span					{color:white!important; background:#1d8995;}




















/* TABS */
#tabs ul li 															{display:inline-block; float:left; padding: 10px 10px 5px 10px; font-size:0.88em; background:transparent;}
#tabs .ui-state-active											{background-color:#f5f5f5;}




/* SLIDER */
#main-slider						{position:relative; margin:0 auto; z-index:1; max-width:1800px;} 
#main-slider	.button			{font-size:1.4em; font-weight:400; padding:15px 30px; text-shadow: 0px 0px;}
.flexslider							{position:relative;}
.flex-caption						{position:absolute; top:0;padding-top:2%; padding-left:1%;  z-index:2; text-shadow: 1px 1px white;}








/* GALLERY */
.photo-gallery img 								{width:100%; display:block;}
/* BIG PHOTO */
.gallery-big-photo								{float:left; width:40%; position:relative;}
.photo-background							{position:absolute; top:70%; width:100%; height:30%; background-color:teal; opacity:0.5; visibility:hidden;}
.photo-des-content							{position:absolute; top:70%; width:100%; height:30%; z-index:100; visibility:hidden;}
.photo-text-padding							{padding:3% 2%!important;}
.cats-name										{color:white; font-size:1.1em; font-weight:bold; margin-bottom:10%;}
.photo-data										{color:white; font-weight:300; font-size:0.9em; opacity:0.8;}
.photo-votes										{color:white; font-size:0.9em; font-weight:300;}
.votes-number 									{color:white; font-size:0.9em; font-weight:bold;}
.photo-text-right								{float:right;}
.photo-text-right img 						{width:10%; float:right; margin-left:5%; margin-bottom:20%;}
.photo-text-right img:hover				{opacity:0.5;}
.photo-user a			   						{float:right; color:white; font-weight:bold; font-size:0.9em; margin-left:5%;}

/* SMALL PHOTO */
.gallery-small-photo  							{float:left; width:20%; position:relative;}
.photo-background-s 						{position:absolute; top:0%; width:100%; height:100%; background-color:teal; opacity:0.5; visibility:hidden;}
.photo-des-content-s 						{position:absolute; top:0%; width:100%; height:100%; z-index:100; visibility:hidden;}
.photo-text-padding-s 						{padding:3% 2%!important;}
.cats-name-s										{color:white; font-size:1.1em; font-weight:400; margin:10% 0%; text-align:center;}
.photo-user-s									{text-align:center; margin-bottom:3%;}
.photo-user-s	a								{color:white; font-weight:400; font-size:0.9em; }
.photo-user-s	a img						{width:10%; display:inline; vertical-align:middle; text-align:center; padding-right:5%; }
.photo-data-s									{text-align:center; color:white; font-weight:300; font-size:0.9em; opacity:0.8;}
.social-s											{text-align:center; margin-top:4%;}
.social-s img										{width:10%; margin-left:5%; display:inline;}
.social-s img:hover								{opacity:0.5}


/* SMALL PHOTO SUBPAGE */
.gallery-small-photo-sub  					{float:left; width:25%; position:relative;}
.cats-name-s-left a							{color:white; font-size:1.1em; font-weight:700;}
.cats-name-s-left,								{text-align:left; color:white; font-size:1.2em;} 
.photo-data-s-left								{text-align:left; color:white; position:absolute; bottom:15px; opacity:0.8;} 
.photo-text-padding-s						{padding:15px!important;}
.photo-data-s


























/* CHALLANGE */
.challenge	{background-image: url("../img/wyzwanie-kot-3.png"); height:900px;  background-position:center; float:left;}










/* FOOTER */
#footer								{background-color: #424242; }	
.footer								{padding:25px 15px;}
.footer a 							{color:white;}
.footer a:hover 					{color: #1d8995; transition:0.3s;}
.footer-arrows-color			{color: #1d8995; transition:0.3s;}
.footer h4							{padding-bottom:2%; color:white; font-weight:400;}
.footer p							{color:white;}
.footer ul li 						{list-style-type:none; padding-top:2%;}
.footer-bottom .twocol		{text-align:right !important;}
.footer-bottom div				{color:white !important;}
.footer-bottom .links			{text-align:right;}
.footer .button					{float:right;}	
.footer .button-teal:hover	{background:#666; color:white;}		
.footer .footer-image			{float:left;}					











@media handheld, only screen and (max-width: 1023px) {


nav ul li a 							{padding:27px 7px 27px 7px;}
#purinaone-logo img			{margin-top:7px;}


.desktop							{display:inline;}
.mobile								{display:none;}

#main-slider	.button			{font-size:1.3em; padding:10px 20px!important;}
.flex-caption	h1				{margin-top:5%; font-size:1.8em;}
.flex-caption	h2				{font-size:1.0em; margin-bottom:0px;}

.cats-name										{margin-bottom:5%;}
.photo-text-right img 					{margin-bottom:10%;}
.cats-name-s									{margin:2.5% 0%; }

.first-title	{position:absolute;}

}


















@media handheld, only screen and (max-width: 767px) {


.desktop														{display:none;}
.mobile															{display:inline;}


.title																{font-size:1.6em; margin-top:16px; margin-bottom:0px;}

#main-menu													{display:none;}
#menu-spacer 												{display:none;}
#row-spacer  												{display:none;}
.buy-now														{display:none;}
.buy-now-mobile											{display:inline;}

#kociarze-logo												{padding:10px 0 0 0;}		
#top-bar														{border-bottom:none; height:27px;}
#top-bar .top-icons										{text-align:center!important;}
#purinaone-logo											{text-align:left!important; padding:0px; margin-left:30px; display:none;}
#purinaone-logo img										{margin:15px 0;}

#kociarze-logo												{display:none;}
#search-box													{display:none;}
#login-link														{display:none;}


article .photo													{float:left; width:25%; margin-right:8px; margin-bottom:15px;}
.forum .right-border										{border-right:none;}
.forum-padding												{padding:0px !important;}


.footer h4														{text-align:center;}
.footer .footer-bottom div								{width:50%; text-align:right;}
.footer .footer-bottom .copy							{padding-top:45px;}

#mobile-menu-bar										{display:block;}
#mobile-menu-bar a img								{margin-top:13px;}

.panel-roll														{width:100%; max-width:767px; top:48px;}

.gallery-big-photo											{width:100%;}
.gallery-big-photo .social-s							{text-align:center; margin-top:20px;}
.gallery-big-photo .social-s img						{width:20px; margin-left:15px; display:inline;}
.gallery-big-photo .social-s img:hover				{opacity:0.5}


.gallery-small-photo  										{float:left; width:50%;}

#main-slider	.button										{position:absolute; bottom:15%; font-size:1.3em; padding:10px 20px!important;}
.flex-caption	h1 											{font-size:1.8em; position:absolute; bottom:45%;}
.flex-caption	h2											{visibility:hidden;}






.cats-name										{font-size:2em;  margin-bottom:0%;}
.photo-text-right							    {position:absolute; top:10%; right:3%;}
.photo-text-right img						{width:5%; margin-bottom:5%; margin-left:2%; }
.user-cover img 								{display:none;}
.photo-user a			   						{font-size:1.3em;}

.cats-name-s									{margin:10% 0%; }


.xxx {text-align:center!important; margin: 0 auto!important;}
}